/vendor-bin/**/vendor

# PHP CS Fixer
/.php-cs-fixer.cache

# PHP Code Sniffer
/.phpcs-cache

# Cypress
/tests/cypress/screenshots/
/tests/cypress/videos/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/bin/*
!/bin/console
!/bin/dump-translations.sh
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
!/var/.gitkeep
/var/cache
/var/log
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
