{
  "relative": true,
  "linters": {
    "*.php": [
      "./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff",
      "./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress",
      "git add"
    ],
    "{assets,cypress}/**/*.{js,jsx,vue}": [
      "eslint --fix",
      "git add"
    ],
    "*.{json,yml,yaml,md}": [
      "prettier --write",
      "git add"
    ]
  }
}
