default:
    autoload:
        '': '%paths.base%/tests/behat/bootstrap'

    suites:
        default:
            paths: ['%paths.base%/tests/behat']
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:json
                - App\Tests\Behat\ExtendedBehatchRestContext

    extensions:
        FriendsOfBehat\SymfonyExtension: ~

        Behat\MinkExtension:
             base_url: "http://symfony-app-template.com/"
             sessions:
               symfony:
                 symfony: ~

        Behatch\Extension: ~
