default:
    autoload:
        '': '%paths.base%/tests/behat/bootstrap'

    suites:
        default:
            paths: ['%paths.base%/tests/behat']
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:json
                - Features\ExtendedBehatchRestContext

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: tests/behat/bootstrap/bootstrap.php
                class: App\Kernel

        Behat\MinkExtension:
             base_url: "http://symfony-app-template.com/"
             sessions:
               default:
                 symfony2: ~

        Behatch\Extension: ~
