includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/knplabs/doctrine-behaviors/phpstan-extension.neon

parameters:
    level: max
    paths:
        - .
    excludes_analyse:
        # Vendors
        - node_modules
        - vendor
        - vendor-bin
        # Special files/directories
        - public/index.php
        - config/bootstrap.php
        - tests/phpunit/bootstrap.php
        - var/cache
        - var/log
        # Other files
        - .php-cs-fixer.dist.php
        # Until PHPStan extension for phpspec is compatible with PHPStan 0.12
        - tests/phpspec
    bootstrapFiles:
        - vendor-bin/phpunit/vendor/autoload.php

    inferPrivatePropertyTypeFromConstructor: true

    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: tests/console-application.php

    doctrine:
        objectManagerLoader: tests/object-manager.php
