includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/knplabs/doctrine-behaviors/phpstan-extension.neon

parameters:
    level: max
    paths:
        - src
        - tests/phpunit
    excludes_analyse:
        - .php-cs-fixer.dist.php
        - config
        - tests/phpspec
        - tests/phpunit/bootstrap.php
    bootstrapFiles:
        - vendor-bin/phpunit/vendor/autoload.php

    inferPrivatePropertyTypeFromConstructor: true

    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: tests/console-application.php

    doctrine:
        objectManagerLoader: tests/object-manager.php
